@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ffffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  /* H1 */
  h1 {
    @apply text-[32px] md:text-[64px] lg:text-[96px] font-medium leading-none tracking-tighter;
  }

  /* H2 */
  h2 {
    @apply text-[24px] md:text-[40px] lg:text-[64px] font-medium leading-none tracking-tighter;
  }

  /* H3 */
  h3 {
    @apply text-[22px] md:text-[26px] lg:text-[30px] font-medium leading-none tracking-tighter;
  }

  /* H5 */
  h5 {
    @apply text-[16px] md:text-[18px] lg:text-[20px] font-medium leading-none tracking-tighter;
  }

  /* H6 */
  h6 {
    @apply text-[14px] md:text-[16px] lg:text-[18px] font-medium leading-none tracking-tighter;
  }

  /* Paragraph */
  p {
    @apply text-[16px] md:text-[17px] lg:text-[24px] leading-none tracking-tighter;
  }
}

.under-development-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 37px;
  background: #0071E3;
  border-radius: 20px;
}
 .under-development-slider .swiper-pagination-bullet{
  background:#fff;
 }
.under-development-slider .swiper-pagination{
  position: relative;
  margin-top: 49px;
}

/* video Section CSS */

.doll-videoo {
     width: 32.1%;
    height: 66.2%;
    top: 11.7%;
    left: 39%;
 
}
@media (min-width: 768px) and (max-width: 1024px) {
      .doll-videoo {
        width: 32.6%;
        height: 32%;
        top: 31.7%;
        left: 39%;
        border-radius: 12px;
 
    }
}
@media (min-width: 1300px) and (max-width: 1520px) {
.doll-videoo {
    width: 32%;
    height: 54%;
    top: 18.8%;
    left: 39%;
}
}
@media (min-width: 1024px) and (max-width: 1300px) {
.doll-videoo {
    width: 32.1%;
    height: 42%;
    top: 25.8%;
    left: 39%;
    border-radius: 16px;
}
}
 
 
 
@media (max-width: 640px) {
  .doll-videoo {
    top: 11%;
    left: 43%;
    width: 21%;
    height: 67%;
  }
}
 
@media (max-width: 768px) {
    .doll-videoo {
        border-radius: 12px;
        width: 32%;
        height: 61%;
        top: 14.7%;
        left: 39%;
    }
 
  }


